<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  
  <body>
    
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <h2>Vidyadhaan</h2>
        </a>
    </nav>

    <form action="https://127.0.0.1:8000/" method="POST"">
        {% csrf_token %}
            <div class="form-group col-xs-4">
                <label for="Ano"> Application Number</label>
                <input type="text" class="form-control" id="Ano" placeholder="Application number">
            </div>

            <div class="form-row">
              <div class="form-group col-xs-4">
                <label for="Sname">Student's name</label>
                <input type="text" class="form-control " id="Sname" placeholder="Student's name">
              </div>

              <div class="form-group col-xs-4">
                <label for="Sphoto"> Upload student's photo</label> <br>    
                <input type="file" name="Sfileupload" value="Sfileupload" id="Sphoto">
              </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-xs-4">
                  <label for="Fname">Father's name</label>
                  <input type="text" class="form-control " id="Fname" placeholder="Father's name">
                </div>
                
                <div class="form-group col-xs-4">
                    <label for="Fphoto"> Upload Father's photo</label> <br>    
                    <input type="file" name="Ffileupload" value="Ffileupload" id="Fphoto">
                </div>
            </div>    
            
            <div class="form-row">
                    <div class="form-group col-xs-4">
                      <label for="Mname">Mother's name</label>
                      <input type="text" class="form-control " id="Mname" placeholder="Mother's name">
                    </div>
            
                    <div class="form-group col-xs-4">
                        <label for="Mphoto"> Upload Mother's photo</label> <br>    
                        <input type="file" name="Mfileupload" value="Mphoto" id="Mfileupload">
                    </div>
            </div>
            
            <div class="form-row">       
                <div class="form-group col-xs-4">
                <label for="School">School</label>
                <input type="text" class="form-control" id="School" placeholder="School Name">
                </div>
            
                <div class="form-group col-xs-4">
                    <label for="Grade">Grade</label>
                    <input type="text" class="form-control" id="Grade" placeholder="Grade">
                </div>
            </div>
            
            <div class="form-group col-xs-4">
                <label for="PYmarks"> Upload previous year's marks card</label> <br>    
                <input type="file" name="pyfileupload" value="pyfileupload" id="PYmarks">
            </div>

            <div class="form-group col-xs-4">
                <label for="PPYmarks"> Upload last but one year's marks card</label> <br>    
                <input type="file" name="ppyfileupload" value="ppyfileupload" id="PPYmarks">
            </div>

            <div class="form-group col-xs-4">
                <label for="Marks"> Marks obtained</label>
                <input type="text" class="form-control" id="Marks" placeholder="Marks obtained">
            </div>

            <div class="form-group col-xs-4">
                <label for="Incomecert"> Upload income certificate</label> <br>    
                <input type="file" name="icfileupload" value="icfileupload" id="Incomecert">
            </div>
            
            <div class="form-row">
                <div class="form-group col-xs-4">
                    <label for="Foccup">Father's occupation</label>
                    <input type="text" class="form-control " id="Foccup" placeholder="Father's Occupation">
                </div>

                <div class="form-group col-xs-4">
                    <label for="Moccup">Mother's occupation</label>
                    <input type="text" class="form-control " id="Moccup" placeholder="Mother's Occupation">
                </div>
            </div>
            
            <div class="form-group col-xs-4">
                <label for="Sfee">School Fees</label>
                <input type="text" class="form-control" id="Sfee" placeholder="School Fees">
            </div>

            <div class="form-group col-xs-4">
                <label for="Scholar">Scholarship Fees</label>
                <input type="text" class="form-control" id="Scholar" placeholder="Scholarship Fees">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </body>
</html>
